.homepage-container {
    display: flex;
    width: 100vw;
    /* margin-top: 65.52px; */
}

.content-container {
    padding-left: 2rem;
}

/* -- HOMEPAGE GAME SECTIONS -- */

.section-games {
    display: flex;
    gap: 1.5rem;
}